[submodule "zprezto/modules/autosuggestions/external"]
	path = zprezto/modules/autosuggestions/external
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zprezto/modules/history-substring-search/external"]
	path = zprezto/modules/history-substring-search/external
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zprezto/modules/syntax-highlighting/external"]
	path = zprezto/modules/syntax-highlighting/external
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zprezto/modules/completion/external"]
	path = zprezto/modules/completion/external
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zprezto/modules/prompt/external/powerline"]
	path = zprezto/modules/prompt/external/powerline
	url = https://github.com/davidjrice/prezto_powerline.git
[submodule "zprezto/modules/prompt/external/agnoster"]
	path = zprezto/modules/prompt/external/agnoster
	url = https://github.com/agnoster/agnoster-zsh-theme.git
[submodule "zprezto/modules/prompt/functions/pure"]
	path = zprezto/modules/prompt/external/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zprezto/modules/fasd/external"]
	path = zprezto/modules/fasd/external
	url = https://github.com/clvv/fasd.git
[submodule "zprezto/modules/prompt/external/async"]
	path = zprezto/modules/prompt/external/async
	url = https://github.com/mafredri/zsh-async.git
[submodule "zprezto/modules/prompt/external/powerlevel9k"]
	path = zprezto/modules/prompt/external/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
