[submodule "zprezto/modules/history-substring-search/external"]
	path = zprezto/modules/history-substring-search/external
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zprezto/modules/syntax-highlighting/external"]
	path = zprezto/modules/syntax-highlighting/external
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zprezto/modules/completion/external"]
	path = zprezto/modules/completion/external
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zprezto/modules/fasd/external"]
	path = zprezto/modules/fasd/external
	url = https://github.com/clvv/fasd.git
